<section class="section">
  <div class="container ">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image-a is-128x128"  style="margin-left: auto; margin-right: auto;">
               <%# <%= attachment_image_tag @user, :profile_image, fallback: "noimage.png", class: "profile_image is-rounded" %> 
              <%= image_tag attachment_url(@user, :profile_image, fallback: "noimage.png", class: "profile_image is-rounded") %>
            </figure>
          </div>
          <div class="column is-7">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.name %></strong>
                    <% if current_user.id == @user.id %>
                    <%= link_to "編集", edit_user_path(@user.id), class: "button" %>
                    <% end %>
                </td>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>  
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container ">
    <div class="columns is-multiline">
      <% @user.posts.each do |post| %>
        <%# <div class="column"> %>
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
               <%= link_to post_path(post) do %>
                  <%= image_tag post.image %>
                <% end %>
              </figure>
            </div>
              <div class="content">
                <time><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></time>
              </div>
          </div>
        <%# </div> %>
      <% end %>
    </div>
  </div>
</section>


