<section class="section">
  <div class="container">
    <div class="columns is-centered ">
      <div class="column is-6 ">
        <%= form_with model: @post, local: true do |f| %>
          <div class="field">
            <%= f.label :title, "植物名", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :catch_copy, "生育環境", class: "label" %>
            <%= f.text_area :catch_copy, class: "textarea" %>
          </div>
        
          <div class="field">
            <%= f.label :concept, "キャプション", class: "label" %>
            <%= f.text_area :concept, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "写真", class: "label" %>
            <%= f.file_field :image %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>